.wrapper {
  display: grid;
  grid-template-columns: 500px  500px;
}

.cell {
	border-width: 3px;
	border-style: solid;
	margin: 10px;
	padding-left: 5px;
}

.cell-img {
  width: 300px;
  height: 300px;
}
